**/books/*
build/*
**/data/*
**/fonts/*
**/images/*
**/items/*
**/maps/*
**/models/*
**/music/*
**/sound/*
**/editor/*
**/crashlogs/*
**/logfiles/*
**/lang/*
**/config/*
!lang/*
!lang/item_names.json
**/mods/*
**/savegames/*
src/Config.hpp
.buildconfig
steam_appid.txt
*.o
*.exe
*.ffs_db
*.TMP
*.tlog
*.psess
*.vspx
/VS-includes
*.inl
*.dll
*.iobj
*.idb
*.ipdb
*.pdb
*.obj
*.log
*.user
*log.txt
*.cache
*.zip
*.res
*.lnk
*.xml
*.db
*.opendb
*.lib
*.exp
*.vsp
*.sarif
*.i
*.enc
*.ilk
*.sqlite-journal
.DS_Store
*.ps1
!LICENSE.nativefiledialog.txt
.vscode/*

# Zig build artifacts
zig-out/
.zig-cache/

swarm/
